@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="spacer-top"></div>
    <h1 class="display-4">TOP 10 GAMES</h1>
    <div class="spacer-bottom"></div>
</div>
<div>
    @if (!Model.TopGames.Any())
    {
        <p>No s'han trobat jocs.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Títol</th>
                    <th>Dev team</th>
                    <th>Imatge</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.TopGames)
                {
                    <tr>
                        <td>@game.Title</td>
                        <td>@game.TeamName</td>
                        @if (game.ImagePath != null)
                        {
                            <td>
                                <a>
                                    <img src="@game.ImagePath" alt="Img" />
                                </a>
                            </td>
                        }
                        else 
                        {
                            <td>Sense imatge</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>